<div class="container">
    <div class="row justify-content-md-center" style="margin-top: 35px;">
        <div class="col-4">
            <img src="assets/images/happyframe1.PNG" alt="image loading...">
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem; background-color: black; margin-top: 40px;">
                <div class="card-body">
                  <h5 class="card-title text-light fw-bolder">Turn your photos into stunning wall art</h5>
                  <p class="card-text text-light">Design beautiful walls filled with memories using your favourite photos</p>
                  <a href="#" class="btn btn-warning fw-bold">Style Your Photos </a>
                </div>
              </div>
        </div>
    </div>
    <div class="row justify-content-md-center" style="margin-top: 35px;">
        <div class="row" style="margin-left: 20rem;">
            <div class="col">
                <img src="assets/images/happyframe2_easy_installation.PNG" alt="">
            </div>
            <div class="col">
                <img src="assets/images/happyframe3_thin_light.PNG" alt="">
            </div>
            <div class="col">
                <img src="assets/images/happyframe4_satisfaction.PNG" alt="">
            </div>
        </div>
       
    </div>
    <div class="row justify-content-md-center" style="margin-top: 35px;">
        <div class="col">
            <div class="card mb-3 bg-warning" style="width: 60%; margin-left: 15rem;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/happyframe5.PNG" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title text-center fs-1">The Magic Frame that sticks to any surface</h5>
                      <p class="card-text"><small>Get your photos in stylish frame that stick directly to your wall and 
                        leave no damage behind </small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row" style="margin-top: 35px;">
        <div class="col">
            <h5 class="text-center fs-1 text-white">
                One Stop Solution for your needs!
            </h5>
        </div>
    </div>
    <div class="row justify-content-md-center" style="margin-top: 35px;">
        <div class="row" style="margin-left: 20rem;">
            <div class="col">
                <figure class="figure">
                    <img src="assets/images/happyframe5.PNG" class="figure-img img-fluid rounded" style="width: 60%;" alt="...">
                    <figcaption class="figure-caption" style="width: 60%;">Get your photos in stylish frames that stick directly to your wall and leave no danger behind!</figcaption>
                  </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img src="assets/images/happyframe5.PNG" class="figure-img img-fluid rounded" style="width: 60%;" alt="...">
                    <figcaption class="figure-caption" style="width: 60%;">Get your photos in stylish frames that stick directly to your wall and leave no danger behind!</figcaption>
                  </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img src="assets/images/happyframe5.PNG" class="figure-img img-fluid rounded" style="width: 60%;" alt="...">
                    <figcaption class="figure-caption" style="width: 60%;">Get your photos in stylish frames that stick directly to your wall and leave no danger behind!</figcaption>
                  </figure>
            </div>
        </div>
       
    </div>

</div>